.red{
    background: red
}
.green{
    background: green
}
.yellow{
    background: yellow
}
.blue{
    background: blue
}

.red .claro{
    background: black !important
}
.green.claro{
    background:black !important
}
.yellow.claro{
    background: black !important
}
.blue.claro{
    background: black !important
}


/* .red .claro{
    background: rgb(200, 95, 95) !important
}
.green.claro{
    background: rgb(114, 197, 114) !important
}
.yellow.claro{
    background: rgb(155, 155, 96) !important
}
.blue.claro{
    background: rgb(66, 66, 114) !important
} */

.item{
    height: 80px;
    width: 80px;
    float: left;
}

.contenedor{
    width: 160px;
    position: fixed;
    top: 40%;
    left: 30%;
}


.ocultar{
    display: none;
}